<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.beatmydrops" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Beat My Drops</name>
    <description>
        Drops are falling high af! so make sure it falls on the same color of pipe.
    </description>
    <author email="contact@6geeks.xyz" href="https://6geeks.xyz">
        6Geeks Studios
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-media" spec="1" />
    <plugin name="cordova-plugin-network-information" spec="1" />
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-inappbrowser" spec="1.4.0" />
    <plugin name="cordova-plugin-x-socialsharing"/>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="icon.png" />
    
    <preference name="orientation" value="portrait" />

    <platform name="android">
         <allow-intent href="market:*" />
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
    </platform>

     <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
        <icon src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72-2x.png" width="144" height="144" />
      
    </platform>
</widget>
